.martian-dice {
  .item {
    box-sizing: border-box;
    width: 74px;
    height: 74px;
    box-sizing: border-box;
    background-image: url(../../assets/imgs/martian-dices.jpg);
    background-size: 600% 100%;
    background-repeat: no-repeat;
    background-position: 120% 0;
    border-radius: 6px;
    &.dice4 {
      background-position: 60% 0;
      border: 1px solid #0fa6d9;
    }
    &.dice1 {
      background-position: 0 0;
      border: 1px solid #49b548;
    }
    &.dice3 {
      background-position: 40% 0;
      border: 1px solid #fff;
    }
    &.dice6 {
      background-position: 100% 0;
      border: 1px solid #ed2027;
    }
    &.dice2 {
      background-position: 20% 0;
      border: 1px solid #f6e033;
    }
    &.dice5 {
      background-position: 80% 0;
      border: 1px solid #49b548;
    }
    &.disabled {
      opacity: 0.6;
    }
    &.can-select {
      border: 3px solid #49b548;
    }
  }
  .freezing {
    border: 10px solid #c6a36b;
  }

  @keyframes random {
    to {
      background-position: 100% 0;
    }
  }
}
