page {
  background-color: #eef5ff;
}
.cantstop-hall {
  height: 100%;
  background-color: #eef5ff;
  & > .at-tabs .at-tabs__header {
    background-color: #eef5ff;
  }
  .at-tabs {
    height: 100%;
  }
  .at-tabs__item-underline {
    bottom: -2px;
  }
  .at-tabs__body {
    height: calc(100% - 86px);
  }
  .at-tabs-pane {
    height: 100%;
  }
  .scroll-view {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 40px;
  }
  .divider {
    .at-divider__content {
      background-color: #eef5ff;
    }
    .at-divider__line {
      left: 5%;
      width: 90%;
    }
  }
  .loading {
    margin: 30px 0;
  }

  // 浮动按钮
  .fab-btn {
    position: fixed;
    right: 50px;
    bottom: 100px;
    z-index: 900;
    &.reload {
      bottom: 100px;
    }
    &.guide {
      left: 50px;
      right: initial;
      bottom: 380px;
      .at-badge__num {
        padding: 8px;
        top: -84px;
        right: -22px;
        width: 102px;
      }
      .shake.at-badge {
        animation: shake 1.5s linear infinite;
      }
    }
    &.ranking {
      left: 50px;
      right: initial;
      bottom: 240px;
    }
    &.history {
      left: 50px;
      right: initial;
      bottom: 100px;
    }
    &.create-room {
      bottom: 240px;
      .at-badge__num {
        padding: 8px;
        top: -84px;
        right: -22px;
        width: 80px;
      }
      .shake.at-badge {
        animation: shake 1.5s linear infinite;
      }
    }
  }
}
