.common-game-player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 10px;
  &.active {
    background-color: #999;
  }
  &.zIndexActive {
    z-index: 75;
  }
  .player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.offline {
      opacity: 0.4;
    }
    .avatar {
      width: 70px;
      height: 70px;
      border-radius: 70px;
    }
    text {
      color: #fff;
      font-size: 26px;
      width: 110px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.black {
        color: #666;
      }
    }
  }
  .score {
    width: 50px;
    text-align: right;
    text {
      font-size: 40px;
      color: #f4fcfe;
      font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
    }
  }
  .setting {
    margin-left: 10px;
  }
}
.rummy-player {
  margin-top: 30px;
  z-index: 50;
  background-color: #4b6d8d;
  &.active {
    background-color: #eee !important;
  }
  .setting {
    position: absolute;
    right: -14px;
    bottom: 0;
    font-size: 28px !important;
  }
  .rummy-card-num {
    width: 70px;
    display: flex;
    justify-content: center;
    text {
      font-size: 36px;
      color: #333300;
    }
  }
  .freezing-icon {
    position: absolute;
    left: -12px;
    bottom: 10px;
    width: 50px;
    height: 50px;
  }
}
.set-player {
  .set-game-info {
    margin-top: 10px;
    .text {
      font-size: 26px;
      color: #f4fcfe;
      font-family: yansong;
    }
    .number {
      color: #f4fcfe;
      margin-left: 10px;
      font-size: 34px;
      font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
    }
  }
}
.wavelength-player {
  .setting {
    position: absolute;
    right: -14px;
    bottom: 0;
    font-size: 28px !important;
  }
}
