page {
  --boxW: 48px;
  --boxH: 66px;
  --boardH: 208px;

  min-height: 100%;
  height: 100%;
  background-color: #4b6d8d;
}
movable-area {
  position: relative;
  width: 100%;
  height: 100%;
}
.rummy-game {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .rummy-game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .rummy-game-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    visibility: hidden;
    &.show {
      visibility: visible;
    }
  }
  .rummy-game-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 920px;
    .player-list {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .round-sum {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 70px;
        padding: 10px 0;
        margin-top: 60px;
        color: #eee;
        font-family: "yansong";
        font-size: 26px;
        border-radius: 12px;
        background-color: rgba(90, 90, 90, 0.5);
        .number {
          font-size: 34px;
          margin-top: 10px;
          font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow",
            Arial, sans-serif;
        }
      }
    }
  }
  .playground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-child .playground-box {
        border-top-width: 2px;
      }
      &:last-child .playground-box {
        border-bottom-width: 2px;
      }
    }
    .playground-box {
      &:first-child {
        border-left-width: 2px;
      }
      &:last-child {
        border-right-width: 2px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: var(--boxW);
      height: var(--boxH);
      background-color: #3f4f5e;
      border: 1px solid #8a99ab;
      color: #a6b5ca;
      font-size: 24px;
      font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
    }
  }
  .playboard-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #a46725;
    width: 100%;
    &.hidden {
      background-color: transparent;
    }
    .top,
    .bottom {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .playboard-ctrl-box,
      .playboard-wrapper,
      .ctrl-btn {
        visibility: hidden;
      }
      &.show {
        .playboard-ctrl-box,
        .playboard-wrapper,
        .ctrl-btn {
          visibility: visible;
        }
      }
    }
    .top {
      width: 100%;
      justify-content: space-between;
      &.show {
        border-bottom: 1px solid #f8f6d16e;
      }
    }
    .bottom {
      align-items: center;
      padding: 20px 0;
      width: 95%;
    }
    .before-start-btn-box {
      position: absolute;
      top: 0;
      width: 750px;
      height: 100%;
      .at-button {
        margin-top: 20px;
        width: 350px;
      }
      .at-button--secondary.at-button--secondary {
        background: #fff;
      }
      .result-box {
        display: flex;
        margin-top: 40px;
        width: 100%;
        height: 170px;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 44px;
        background-color: #999;
        .text {
          font-family: yansong;
        }
        .number {
          margin-left: 10px;
          font-size: 60px;
          font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow",
            Arial, sans-serif;
        }
      }
    }
    .playboard-ctrl-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2px 0;
      .ctrl-btn {
        display: flex;
        width: 80px;
        height: 80px;
        line-height: 80px;
        padding: 0;
        margin: 0;
        border: none;
        align-items: center;
        justify-content: center;
        font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow",
          Arial, sans-serif;
        font-size: 30px;
        font-weight: bold;
        .at-button__text {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .at-icon {
          box-sizing: border-box;
          width: 60px;
          height: 60px;
          padding: 10px;
          border-radius: 80px;
          border: 1px solid #f8f6d1;
        }
        .text-icon {
          box-sizing: border-box;
          display: inline-block;
          width: 60px;
          height: 60px;
          line-height: 60px;
          font-size: 24px;
          color: #f8f6d1;
          border-radius: 80px;
          border: 1px solid #f8f6d1;
        }
        image {
          width: 60px;
          height: 60px;
        }
      }
    }
    .round-ctrl-btn-sm {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 80px;
      margin: 0;
      margin-right: 20px;
      border-radius: 8px;
      background-color: transparent;
      border: 1px solid #f8f6d1;
    }
    .round-ctrl-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 340px;
      height: 80px;
      margin: 0;
      font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
      font-size: 30px;
      font-weight: bold;
      border-radius: 8px;
      background-color: transparent;
      border: 1px solid #f8f6d1;
      .btn-box {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .at-button__text {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .library-num {
        width: 44px;
        color: #f8f6d1;
      }
      image {
        width: 60px;
        height: 60px;
      }
      .add-icon {
        margin-left: 50px;
      }
    }
    .icon-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      margin: 0;
      margin-right: 50px;
      background-color: transparent;
      border: none;
      &.icon-btn2 {
        margin-right: 0;
        margin-left: 50px;
        image {
          width: 50px;
          height: 50px;
        }
      }
      .at-button__text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
      }
      image {
        width: 60px;
        height: 60px;
      }
    }
    .playboard-wrapper {
      margin-top: 10px;
    }
    .playboard {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--boardH);
      .row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3px;
        &:first-child {
          margin-top: 0;
        }
      }
      .playboard-box {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: var(--boxW);
        height: var(--boxH);
      }
    }
  }
  .card-wrapper {
    &.hidden {
      visibility: hidden;
    }
    &.bottom {
      z-index: 10;
    }
    &.active {
      z-index: 100;
    }
  }
  .count-down-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 14px;
    padding: 2px 0;
    &.my-count-down {
      .at-progress--error .at-progress__outer-inner-background {
        background-color: #65f742;
      }
    }
    .at-progress {
      width: 100%;
    }
    .at-progress__outer-inner {
      background-color: #867f80;
    }
    .at-progress--error .at-progress__outer-inner-background {
      background-color: #333300;
    }
    .at-progress__content {
      display: none;
    }
    .at-progress__outer-inner-background {
      height: 10px;
    }
  }
  .toast-wrapper-hidden {
    display: none;
  }
}
// 游戏结果
.result-box {
  position: absolute;
  top: 30px;
  width: 100%;
}
