page {
  min-height: 100%;
  height: 100%;
  background-color: #4b6d8d;
}
movable-area {
  width: 100%;
  height: 100%;
}
.rummy-game {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // padding-bottom: 30px;
  .rummy-game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .rummy-game-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .rummy-game-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 920px;
    .player-list {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .martian-player-list {
        flex-direction: column;
        padding: 0;
      }
      .round-sum {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 70px;
        margin-top: 60px;
        color: #eee;
        font-family: "yansong";
        font-size: 26px;
        border-radius: 12px;
        background-color: rgba(90, 90, 90, 0.5);
        .number {
          margin-left: 10px;
          font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow",
            Arial, sans-serif;
        }
      }
    }
    .round-btn-box {
      display: flex;
      justify-content: center;
      align-items: center;
      .round-ctrl-btn {
        width: 60px;
        height: 90px;
        margin: 12px;
        line-height: 90px;
        padding: 0;
        border-radius: 6px;
        border: none;
      }
    }
  }
  .playground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-child .playground-box {
        border-top-width: 2px;
      }
      &:last-child .playground-box {
        border-bottom-width: 2px;
      }
    }
    .playground-box {
      &:first-child {
        border-left-width: 2px;
      }
      &:last-child {
        border-right-width: 2px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 40px;
      height: 58px;
      background-color: #3f4f5e;
      border: 1px solid #8a99ab;
      color: #a6b5ca;
      font-size: 24px;
      font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
    }
  }
  .playboard-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #9b5d1d;
    .before-start-btn-box {
      position: absolute;
      top: 0;
      width: 750px;
      height: 100%;
      .at-button {
        margin-top: 20px;
        width: 350px;
      }
      .at-button--secondary.at-button--secondary {
        background: #fff;
      }
      .result-box {
        display: flex;
        margin-top: 40px;
        width: 100%;
        height: 170px;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 44px;
        background-color: #999;
        .text {
          font-family: yansong;
        }
        .number {
          margin-left: 10px;
          font-size: 60px;
          font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow",
            Arial, sans-serif;
        }
      }
    }
    &.not-start {
      background-color: transparent;
      .playboard-wrapper {
        border-color: transparent;
      }
    }
    .playboard-col {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2px 0;
      width: 80px;
      .ctrl-btn {
        width: 80px;
        height: 60px;
        line-height: 60px;
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;
      }
    }
    .playboard-wrapper {
      padding: 5px;
      border-left: 4px solid #010306;
      border-right: 4px solid #010306;
    }
    .playboard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3px;
        &:first-child {
          margin-top: 0;
        }
      }
      .playboard-box {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 40px;
        height: 58px;
      }
    }
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 56px;
    background-color: #f8f6d1;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 2px #b2a27d;
    font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif;
    font-size: 30px;
    font-weight: bold;
    &.red {
      color: #c2302f;
    }
    &.yellow {
      color: #f4870b;
    }
    &.black {
      color: #0d0812;
    }
    &.blue {
      color: #4272a6;
    }
    &.active {
      z-index: 100;
    }
    .card-img {
      width: 100%;
      height: 100%;
    }
  }
}
