.rating-table {
  display: flex;
  flex-direction: column;
  .rating-row {
    &:nth-of-type(odd) {
      background-color: #3fa3e9;
    }
    .rating-item {
      display: flex;
      align-items: center;
      height: 120px;
      padding-left: 20px;
    }
    .icon-box {
      flex-shrink: 0;
      width: 100px;
      height: 100px;
      border-radius: 16px;
      background-color: #f7cf4c;
    }
    .bonus-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #6ba7fd;
      .title {
        font-size: 24px;
        color: #4381c9;
      }
      .detail {
        font-size: 36px;
        color: #f4fcfe;
        font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow",
          Arial, sans-serif;
      }
    }
    .score-row {
      padding: 20px;
      justify-content: space-between;
      .score-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 16px;
        color: #fff;
        font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow",
          Arial, sans-serif;
        font-size: 50px;
        &.active {
          color: #8fdce4;
          background-color: #acf0fd;
        }
        &.selected {
          color: #4389c4;
        }
        &.has-score {
          color: #fff;
        }
        &.active.has-score {
          background-color: #3a91d4;
        }
        .last-dot {
          position: absolute;
          right: 6px;
          top: 6px;
          width: 18px;
          height: 18px;
          border-radius: 18px;
          background-color: #f5cf4a;
        }
      }
      .has-bonus {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        font-size: 50px;
        font-weight: bold;
        color: #f5cf4a;
      }
      .bonus-progress {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border: 6px solid #176999;
        border-radius: 100px;
        color: #176999;
        font-size: 28px;
      }
    }
  }
}
