page {
  min-height: 100%;
  height: 100%;
  background-color: #06050a;
  z-index: -1;
}
.martian-game {
  .bk-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
  }
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  .top-box {
    position: relative;
    .round-sum-box {
      position: absolute;
      top: 30px;
      right: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 70px;
      color: #fff;
      font-size: 30px;
      border-radius: 12px;
      background-color: rgba(90, 90, 90, 0.5);
      .text {
        font-family: yansong;
      }
      .number {
        margin-left: 10px;
        font-size: 40px;
        font-family: TrebuchetMS;
      }
    }
  }
  .count-down-box {
    margin-top: 10px;
    height: 70px;
    justify-content: center;
    .count-down {
      width: 70px;
      height: 60px;
      line-height: 70px;
      font-size: 50px;
      font-family: LCDAT;
      color: #fff;
      background-color: #44ca4c;
      text-align: center;
      border-radius: 10px;
      &.error {
        background-color: #c00;
      }
    }
  }
  .dice-list-box {
    flex: 1;
    box-sizing: border-box;
    padding: 10px 20px;
    &.no-padding {
      padding: 0;
    }
    .dice-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .btn-box {
    .at-button {
      width: 300px;
      height: 90px;
    }
    .dice-num,
    .round-score {
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
      top: 16px;
      right: 14px;
      width: 56px;
      height: 56px;
      line-height: 56px;
      border-radius: 46px;
      background-color: #e97a29;
      color: #fff;
      font-size: 32px;
      font-weight: bold;
    }
    .round-score {
      background-color: #49b548;
    }
  }
  .result-box {
    display: flex;
    width: 100%;
    height: 170px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 44px;
    background-color: #999;
    .text {
      font-family: yansong;
    }
    .number {
      margin-left: 10px;
      font-size: 60px;
      font-family: TrebuchetMS;
    }
  }
}
