.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 100%;
  background-color: #eef5ff;
  padding: 20px 0;
  .version {
    margin-top: 10px;
    color: #999;
  }
  .cover {
    width: 500px;
    height: 500px;
    border-radius: 20px;
  }
  .btn-list {
    box-sizing: border-box;
    margin-top: 50px;
    width: 60%;
    .at-button {
      margin-bottom: 30px;
      image {
        position: absolute;
        left: 0;
        top: 0;
        width: 90px;
        height: 90px;
        border-radius: 90px;
        vertical-align: middle;
      }
    }
  }
}
