.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 100%;
  background-color: #46b3ff;
  padding: 20px 0;
  .version {
    margin-top: 30px;
    color: #eee;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 60px;
    .icon-row {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 150px;
    }
  }
  .cover {
    width: 300px;
    height: 300px;
  }
  .btn-list {
    box-sizing: border-box;
    padding: 50px;
    width: 80%;
    .at-button {
      margin-bottom: 40px;
      image {
        position: absolute;
        left: 0;
        top: 0;
        width: 88px;
        height: 88px;
        border-radius: 88px;
        vertical-align: middle;
      }
    }
  }
}
