.game {
  min-height: 100%;
  background-color: #46b3ff;
  padding-bottom: 20px;
  .btn-box {
    margin-top: 20px;
    .at-button {
      width: 300px;
      background-color: #f7f7f7;
      color: #f2822e;
      font-size: 50px;
    }
  }
}
