.cantstop-player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 10px;
  &.player-0 {
    background-color: rgba(214, 83, 83, 0.7);
  }
  &.player-1 {
    background-color: rgba(38, 148, 147, 0.7);
  }
  &.player-2 {
    background-color: rgb(225, 152, 6, 0.7);
  }
  &.player-3 {
    background-color: rgba(132, 143, 61, 0.7);
  }
  .active {
    position: absolute;
    left: 20px;
  }
  .player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.offline {
      opacity: 0.4;
    }
    .avatar {
      width: 70px;
      height: 70px;
      border-radius: 70px;
    }
    text {
      color: #fff;
      font-size: 26px;
      width: 110px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.black {
        color: #666;
      }
    }
  }
  .count-down-box {
    position: absolute;
    right: 10px;
    width: 50px;
    height: 50px;
    justify-content: center;
    .count-down {
      width: 50px;
      height: 50px;
      line-height: 60px;
      font-size: 44px;
      font-family: LCDAT;
      color: #fff;
      background-color: #44ca4c;
      text-align: center;
      border-radius: 10px;
      &.error {
        background-color: #c00;
      }
    }
  }
}
