.my-player {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 97.4%;
  margin: 20px 0;
  padding: 0 40px;
  border: 1px solid #c5d9e8;
  border-radius: 10px;
  .home-player {
    margin-top: -40px;
  }
  .top-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .at-button--primary.at-button--primary {
      margin: 0;
      padding: 10px;
      margin-left: 50px;
      height: inherit;
      line-height: inherit;
      background-color: transparent;
      background-color: rgba(241, 181, 61, 0.5);
      border-color: transparent;
      border-radius: 100px;
    }
  }
  .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin: 30px 0;
    .icon {
      width: 70px;
      height: 70px;
    }
    .icon-text {
      display: inline-block;
      color: rgba(241, 181, 61, 0.8);
      font-size: 50px;
      font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
    }
    .at-button {
      margin: 0;
      padding: 10px;
      height: inherit;
      line-height: inherit;
      background-color: transparent;
      border-color: transparent;
    }
    .at-button__text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #4871b6;
    }
  }
}
