.ranking {
  display: flex;
  flex-direction: column;
  padding-top: 88px;
  overflow: scroll;
  .at-tabs__header {
    position: fixed;
    top: 0;
    z-index: 10;
  }
  .hide {
    display: none;
  }
  .rank-row {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    border-top: 1px #ccc solid;
    background-color: #ebd09a;
    &:nth-child(odd) {
      background-color: #56baf9;
    }
    &:first-child {
      border-top: 0;
    }
    .index {
      display: block;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background-color: #000;
      color: #fff;
      box-shadow: 5px 5px 5px #aaa;
      &.top {
        background-color: #ffcc00;
      }
    }
    .user-box {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }
    .column-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 130px;
      .score-title,
      .score {
        color: #fff;
        font-family: yansong;
      }
      .score {
        font-family: TrebuchetMS;
      }
    }
  }
  .loading {
    margin-top: 30%;
  }
}
