.home-player {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  &.active {
    background-color: #3a91d4;
  }
  .player-info {
    display: flex;
    justify-content: center;
    align-items: center;
    &.offline {
      opacity: 0.4;
    }
    .avatar {
      width: 130px;
      height: 130px;
      border-radius: 130px;
      border: 1px solid #c5d9e8;
      background-color: #c5d9e8;
    }
    text {
      color: #fff;
      font-size: 36px;
      width: 240px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 20px;
      margin-top: 50px;
      &.black {
        color: #666;
      }
    }
  }
  .score {
    width: 180px;
    text-align: center;
    text {
      font-size: 80px;
      color: #f4fcfe;
      font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
    }
  }
}
