.game {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  background-color: #46b3ff;
  padding: 20px 0;
  .count-down-box {
    height: 70px;
    justify-content: center;
    .count-down {
      margin-top: 20px;
      width: 80px;
      height: 70px;
      line-height: 80px;
      font-size: 64px;
      font-family: LCDAT;
      color: #fff;
      background-color: #44ca4c;
      text-align: center;
      border-radius: 10px;
      &.error {
        background-color: #c00;
      }
    }
  }
  .dice-list-box {
    display: flex;
    box-sizing: border-box;
    height: 170px;
    margin-top: 20px;
    align-items: center;
  }
  .result-box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 44px;
    background-color: #2a688f;
  }
  .btn-box {
    margin-top: 20px;
    .at-button {
      width: 300px;
      height: 90px;
    }
    .dice-chance {
      position: absolute;
      display: inline-block;
      top: 22px;
      right: 14px;
      width: 46px;
      height: 46px;
      line-height: 46px;
      border-radius: 46px;
      background-color: #e97a29;
      color: #fff;
      font-size: 32px;
      font-weight: bold;
    }
  }
  .scroll-box {
    margin-top: 20px;
    flex: 1;
    overflow-y: scroll;
  }
}
