.game {
  min-height: 100%;
  background-color: #46b3ff;
  padding-bottom: 20px;
  .btn-box {
    margin-top: 20px;
    .at-button {
      width: 300px;
      height: 90px;
      font-size: 46px;
    }
    .dice-chance {
      position: absolute;
      display: inline-block;
      top: 22px;
      right: 14px;
      width: 46px;
      height: 46px;
      line-height: 46px;
      border-radius: 46px;
      background-color: #e97a29;
      color: #fff;
      font-size: 32px;
      font-weight: bold;
    }
  }
}
