page {
  min-height: 100%;
  height: 100%;
  background-color: #46b3ff;
}
.at-row {
  box-sizing: border-box;
}
.at-button--primary.at-button--primary {
  color: #fff;
  border: 1px solid #f1b53d;
  background: #f1b53d;
}
.at-button--secondary.at-button--secondary {
  color: #f1b53d;
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
}
.loading {
  display: block !important;
  text-align: center;
  animation: rotate 0.8s linear infinite;
}
// 旋转动画
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "yansong";
  src: url("https://cdn.renwuming.cn/static/jmz/fonts/yansong.otf")
    format("truetype");
}
@font-face {
  font-family: "LCDAT";
  src: url("https://cdn.renwuming.cn/static/fonts/LCDAT.ttf") format("truetype");
}
