.achievement-box {
  .detail-row {
    margin-top: 10px;
    font-weight: bold;
    font-family: TrebuchetMS, "Microsoft YaHei", sans-serif;
    color: #555;
    .left {
      display: inline-block;
      width: 240px;
    }
    .red {
      color: #e6504b;
    }
  }
  .player-info-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .avatar {
      width: 170px;
      height: 170px;
      border-radius: 170px;
      border: 1px solid #eee;
    }
    text {
      width: 400px;
      font-size: 36px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .at-tabs__body {
    padding-top: 10px;
  }
  .at-modal__content {
    min-height: 400px;
  }
  .at-modal__header::after {
    border: 0;
  }
  // 礼物
  .gift-tab {
    padding: 20px;
    padding-top: 10px;
    background-color: #2b3131;
  }
  .gift-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .item-box {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    .item {
      display: flex;
      flex-direction: column;
      width: 100px;
      border-radius: 12px;
      overflow: hidden;
      .top {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img {
          width: 90px;
          height: 65px;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
      }
      .at-button.at-button {
        display: flex;
        align-items: center;
        width: 100px;
        height: 22px;
        line-height: 22px;
        font-size: 16px;
        color: #fff;
        background-color: transparent;
        border-color: transparent;
        .at-button__text {
          display: flex;
          align-items: center;
        }
        .img {
          width: 18px;
          height: 18px;
          margin-right: 6px;
        }
      }
    }
  }
  .rose {
    display: none;
  }
  .rose-1 {
    position: fixed;
    top: 34px;
    left: 110px;
    width: 70px;
    height: 70px;
    opacity: 0;
    z-index: 100;
  }
  .rose-2 {
    position: fixed;
    top: 34px;
    left: 580px;
    width: 70px;
    height: 70px;
    opacity: 0;
    z-index: 100;
  }
  .rose-3 {
    position: fixed;
    top: 134px;
    left: 110px;
    width: 70px;
    height: 70px;
    opacity: 0;
    z-index: 100;
  }
  .rose-4 {
    position: fixed;
    top: 134px;
    left: 580px;
    width: 70px;
    height: 70px;
    opacity: 0;
    z-index: 100;
  }
  .gift-1-to-2 {
    display: block;
    animation: "gift-1-to-2" 1.2s;
  }
  .gift-2-to-1 {
    display: block;
    animation: "gift-2-to-1" 1.2s;
  }
  .gift-1-to-2 {
    display: block;
    animation: "gift-1-to-2" 1.2s;
  }
  .gift-2-to-1 {
    display: block;
    animation: "gift-2-to-1" 1.2s;
  }
  @keyframes gift-1-to-2 {
    0% {
      opacity: 0;
      transform: scale(0.7) translateX(0);
    }
    15% {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
    60% {
      opacity: 1;
      transform: scale(1) translateX(470rpx);
    }
    90% {
      opacity: 1;
      transform: scale(1) translateX(470rpx);
    }
    95% {
      opacity: 0;
      transform: scale(1) translateX(470rpx);
    }
    100% {
      opacity: 0;
      transform: scale(0.7) translateX(0);
    }
  }
  @keyframes gift-2-to-1 {
    0% {
      opacity: 0;
      transform: scale(0.7) translateX(0);
    }
    15% {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
    60% {
      opacity: 1;
      transform: scale(1) translateX(-470rpx);
    }
    90% {
      opacity: 1;
      transform: scale(1) translateX(-470rpx);
    }
    95% {
      opacity: 0;
      transform: scale(1) translateX(-470rpx);
    }
    100% {
      opacity: 0;
      transform: scale(0.7) translateX(0);
    }
  }
}
