.achievement-box {
  .detail-row {
    margin-top: 10px;
    font-weight: bold;
    font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif;
    color: #555;
    .left {
      display: inline-block;
      width: 240px;
    }
    .red {
      color: #e6504b;
    }
  }
  .player-info-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .avatar {
      width: 170px;
      height: 170px;
      border-radius: 170px;
      border: 1px solid #eee;
    }
    text {
      width: 400px;
      font-size: 36px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .btn-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 0 !important;
    width: 100% !important;
    .icon {
      width: 40px;
      height: 40px;
    }
    .at-button__text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .icon-text {
      display: inline-block;
      width: 150px;
      font-family: TrebuchetMS, "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
    }
    .at-button--primary.at-button--primary {
      padding: 10px;
      height: inherit;
      line-height: inherit;
      background-color: rgba(241, 181, 61, 0.5);
      border-color: rgba(241, 181, 61, 0.5);
      border-radius: 100px;
    }
  }
  .at-tabs__body {
    padding-top: 10px;
  }
  .at-modal__header::after {
    border: 0;
  }
  // 礼物
  .gift-container {
    padding: 0 20px;
    padding-bottom: 16px;
    background-color: #2b3131;
    border-radius: 8px;
  }
  .reserved-gold {
    display: block;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    line-height: 24px;
    font-size: 22px;
    color: #aaa;
  }
  .gift-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    .item-box {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    .item {
      display: flex;
      flex-direction: column;
      width: 100px;
      border-radius: 12px;
      overflow: hidden;
      .top {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
      }
      .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 24px;
        line-height: 24px;
        font-size: 22px;
        color: #fff;
        .img {
          width: 22px;
          height: 22px;
          margin-right: 6px;
        }
      }
    }
  }
  .achievement-item {
    border-bottom: none;
  }
}
