.achievement-box {
  .detail-row {
    margin-top: 10px;
    font-weight: bold;
    font-family: TrebuchetMS, "Microsoft YaHei", sans-serif;
    color: #555;
    .left {
      display: inline-block;
      width: 240px;
    }
    .red {
      color: #e6504b;
    }
  }
  .player-info-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .avatar {
      width: 170px;
      height: 170px;
      border-radius: 170px;
      border: 1px solid #eee;
    }
    text {
      width: 400px;
      font-size: 36px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .at-tabs__body {
    padding-top: 10px;
  }
  .at-modal__content {
    min-height: 400px;
  }
  .at-modal__header::after {
    border: 0;
  }
  // 礼物
  .gift-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .item-box {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    .item {
      display: flex;
      flex-direction: column;
      width: 140px;
      height: 160px;
      background-color: #dbcbbc;
      border-radius: 12px;
      overflow: hidden;
      .top {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img {
          width: 90px;
          height: 60px;
        }
        text {
          display: inline-block;
          margin-top: 4px;
        }
        .amount {
          color: #856151;
          font-size: 28px;
          height: 36px;
          line-height: 36px;
        }
        .intro {
          color: #44352e;
          font-size: 24px;
          height: 30px;
          line-height: 30px;
        }
        .rule {
          color: #44352e;
          font-size: 24px;
          height: 30px;
          line-height: 30px;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        height: 46px;
        background-color: #efe3d5;
      }
      .at-button.at-button {
        display: flex;
        align-items: center;
        width: 100px;
        height: 34px;
        line-height: 34px;
        font-size: 24px;
        color: #fff;
        background-color: rgba(241, 181, 61, 0.5);
        border-color: rgba(241, 181, 61, 0.5);
        .at-button__text {
          display: flex;
          align-items: center;
        }
        .img {
          width: 22px;
          height: 22px;
          margin-right: 10px;
        }
      }
    }
  }
}
